<h1>Eat Da Burger!</h1>
<container>
  <div id="need">
    <h2>Need Da Burg!</h2>

    <ul>
      {{#each cats}}
      {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div id="ate">
    <h2>Ate Da Burg!</h2>

    <ul>
      {{#each cats}}
      {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</container>

<div id="add">
  <h2>Add A Burg!</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="ca">Burger Name:</label>
      <input type="text" id="ca" name="name">
    </div>

    <button type="submit">Add Burg!</button>
  </form>
</div>