body {
background-color: khaki;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  text-align: center;
  padding: 20px;
  text-shadow: 3px 3px 8px red;
  font-size: 100px;
}
.burgers  {
  font-size: 20px;
}

button  {
  padding: 10px;
  background-color:lightcoral;
  color: aliceblue;
}
.container {
  display: flex;
  justify-content: center;
}

.jumbotron  {
  justify-content: center;
  width: 100%;
  padding: 30px;
}

#burgerimg  {
  justify-content: center;
}

button  {
 margin: 10px;
}

#need {
  text-align: center;
  padding: 20px;
}

#burger {
  padding: 20px;
  margin: 20px;
  align-items: center;
}

#ate {
  text-align: center;
  padding: 20px;
}

#add  {
  font-size: 20px;
text-align: center;
padding: 20px;
}

input {
  text-align: center;
}

li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 5px;
}